# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
terraform-outputs.json

# Environment files
.env
!.env.example

# Sensitive data
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
